:root {
    --scale: 1;
    --font-size: 16px;
    --button-size: 256px;
    --buttons-per-row: 3;
    --gap: 8px;
    --border-radius: 32px;
    --padding: 32px;
    --margin: 8px;
    --img-size: 32px;

    --primary-color: #002F6C;
    --primary-dark-color: #001836;
    --primary-light-color: #0046a2;
    --text-color: #ffffff;
    --link-color: #8097B6;
    --body-bg-color: #000000;
    --container-bg-color: #111111;
    --box-bg-color: #222222;
    --border-color: #333333;
    --border: 2px solid var(--border-color);

    --icon-filter: invert(1) brightness(2);
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - var(--padding) * 2);
    padding: var(--padding);
    font-size: var(--font-size);
    box-sizing: border-box;
    margin: var(--margin);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background: linear-gradient(135deg, var(--body-bg-color), var(--box-bg-color));
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-sizing: border-box;
    text-align: center;
    margin: var(--margin);
}

h1 {
    display: block;
    font-size: calc(var(--font-size) * 2);
    margin: var(--margin);
    font-weight: bold;
}

h2 {
    display: block;
    font-size: calc(var(--font-size) * 1.5);
    margin: var(--margin);
    font-weight: bold;
}

p {
    display: block;
    font-size: calc(var(--font-size) * 1);
    margin: var(--margin);
}

#safety, #open-source {
    color: var(--link-color);
}

.link-row {
    display: grid;
    grid-template-columns: repeat(var(--buttons-per-row), calc(var(--button-size) * var(--scale)));
    justify-content: center;
    margin: var(--margin);
    gap: var(--gap);
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap);
    padding: calc(var(--padding) * var(--scale) / 2) calc(var(--padding) * var(--scale) / 2);
    background: linear-gradient(135deg, var(--container-bg-color), var(--border-color));
    color: var(--text-color);
    border: var(--border);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-size: var(--font-size);
    transition: transform 0.2s ease;
}

.link-button:hover {
    background: linear-gradient(135deg, var(--primary-dark-color), var(--primary-light-color));
    transform: scale(1.05);
}

img.icon {
    width: var(--img-size);
    height: var(--img-size);
    filter: invert(1) brightness(2);
}

img.round {
    border-radius: calc(var(--img-size) * 0.5);
}

img.no-filter {
    filter: none;
}



/* Mobile */

@media screen and (max-width: 480px) {
    :root {
        --buttons-per-row: 1;
    }

    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .container {
        padding: 0;
        background: linear-gradient(90deg, var(--body-bg-color), var(--box-bg-color));
    }

    .header {
        margin: calc(2* var(--margin));
    }

    .link-row {
        width: 100%;
        grid-template-columns: 1fr;
        gap: calc(var(--gap) / 2);
        justify-items: center;
    }

    .link-button {
        width: 80%;
        background: linear-gradient(90deg, var(--body-bg-color), var(--box-bg-color));
    }

    .link-button:hover {
        background: linear-gradient(90deg, var(--primary-dark-color), var(--primary-light-color));
    }
}
