:root {
    --scale: 1;
    --font-size: 16px;
    --button-size: 256px;
    --buttons-per-row: 1;
    --gap: 8px;
    --border-radius: 32px;
    --padding: 16px;
    --margin: 8px;
    --img-size: 32px;

    --primary-color: #002F6C;
    --text-color: #ffffff;
    --link-color: #8097B6;
    --body-bg-color: #000000;
    --container-bg-color: #111111;
    --box-bg-color: #222222;
    --border: 2px solid #333333;
    --mobile-border: 1px solid #333333;

    --icon-filter: invert(1) brightness(2);
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--padding) * 2);
    padding: var(--padding);
    text-align: center;
    font-size: var(--font-size);
    box-sizing: border-box;
    margin: var(--margin);
}

.container {
    background-color: var(--container-bg-color);
    padding: calc(var(--padding) * 2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    width: 100%;
    max-width: 50%;
}

h1.header {
    display: block;
    font-size: calc(var(--font-size) * 2);
    margin: var(--margin);
    font-weight: bold;
}

h2.header {
    display: block;
    font-size: calc(var(--font-size) * 1.5);
    margin: var(--margin);
    font-weight: bold;
}

.generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(2*(var(--gap)));
    width: 100%;
    margin: var(--margin);
}

.number {
    font-size: 64px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--primary-color);
    width: 192px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.2s ease;
    margin: var(--margin);
}

.number.show {
    transform: scale(1.05);
}

#generateBtn {
    display: inline-block;
    padding: var(--padding);
    background-color: var(--box-bg-color);
    color: var(--text-color);
    font-weight: bold;
    width: 100%;
    font-size: var(--font-size-base);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#generateBtn:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.history-container {
    width: 100%;
    margin: var(--margin);
    gap: var(--gap);
}

.history-container h2 {
    font-size: 1.2em;
    margin: 8px;
    color: var(--text-color);
}

.history {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    overflow-y: auto;
    padding: var(--padding);
    background-color: var(--container-bg-color);
    border-radius: var(--border-radius);
    border: var(--border);
    margin: var(--margin);
}

.history span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: calc(var(--padding) / 2) var(--padding);
    border-radius: var(--border-radius);
    font-weight: bold;
    color: var(--text-color);
    border: var(--mobile-border);
}

#resetBtn {
    display: inline-block;
    width: 100%;
    padding: var(--padding);
    background-color: var(--box-bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-size: var(--font-size-base);
    font-weight: bold;
    cursor: pointer;
    margin: var(--margin);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#resetBtn:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

@media screen and (max-width: 480px) {
    
    .container {
        max-width: 400px;
        padding: calc(var(--padding) / 2);
    }

    #generateBtn {
        border-radius: calc(var(--border-radius) / 2);
        border: var(--mobile-border);
    }

    #resetBtn {
        border-radius: calc(var(--border-radius) / 2);
        border: var(--mobile-border);
    }

    .number {
        width: 128px;
        height: 128px;
        font-size: 48px
    }

    .history {
        border-radius: calc(var(--border-radius) / 2);
        border: var(--mobile-border);
    }
}
