:root {
    --primary-color: #002F6C;
    --accent-color: #222222;
    --bg-color: #000000;
    --container: #181818;
    --text-color: #ffffff;
    --gap: 12px;
    --font-size-base: 16px;
    --hover: #002f6c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 16px;
}

.main-container {
    background-color: var(--container);
    padding: 32px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    width: 100%;
    max-width: 50%;
}

h1 {
    margin-bottom: var(--gap);
    font-size: 2em;
    color: var(--text-color);
}

.generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    width: 100%;
}

.number {
    font-size: 64px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--primary-color);
    width: 192px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.number.show {
    transform: scale(1.2);
}

#generateBtn {
    display: inline-block;
    padding: 12px 32px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: bold;
    width: 100%;
    font-size: var(--font-size-base);
    border-radius: 18px;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#generateBtn:hover {
    background-color: var(--hover);
    transform: translateY(-2px);
}

.history-container {
    width: 100%;
    margin-top: var(--gap);
}

.history-container h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: var(--text-color);
}

.history {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-y: auto;
    padding: 8px;
    background-color: var(--accent-color);
    border-radius: 18px;
    border: 2px solid #333
}

.history span {
    background-color: var(--primary-color);
    padding: 6px 10px;
    border-radius: 18px;
    font-weight: bold;
    color: var(--text-color);
}

#resetBtn {
    display: inline-block;
    width: 100%;
    padding: 12px 32px;
    background-color: var(--accent-color);
    border: 2px solid #333;
    border-radius: 18px;
    color: var(--text-color);
    font-size: var(--font-size-base);
    font-weight: bold;
    cursor: pointer;
    margin-top: var(--gap);
    transition: background-color 0.3s ease, transform 0.2s ease
}

#resetBtn:hover {
    background-color: var(--hover);
    transform: translateY(-2px);
}

@media screen and (max-width: 480px) {
    
    .main-container {
        max-width: 400px;
        padding: 16px;
    }

    #generateBtn {
        border-radius: 4px;
        border: 1px solid #333;
    }

    #resetBtn {
        border-radius: 4px;
        border: 1px solid #333;
    }

    .number {
        width: 128px;
        height: 128px;
        font-size: 48px
    }

    .history {
        border-radius: 4px;
        border: 1px solid #333
    }
}
